/* Container Card Registrasi */
.register-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Card Registrasi */
.register-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    padding: 30px 25px;
    width: 400px;
    position: relative; /* Posisi relatif agar logo diatur absolut */
    box-sizing: border-box;
    text-align: center;
}

/* Logo di pojok kiri atas */
.logo-card {
    position: absolute;
    top: 10px;    /* Jarak dari atas */
    left: 10px;   /* Jarak dari kiri */
    width: 40px;  /* Ukuran logo */
    height: 40px;
}

/* Form Input */
.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #0097b2;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #0097b2;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #005f70;
}

.text-center {
    margin-top: 15px;
    font-size: 14px;
}

.text-muted {
    color: #0097b2;
    text-decoration: none;
}

.text-muted:hover {
    text-decoration: underline;
}
